<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Bootlab">

	{% block title %}
		<title>Base Title</title>
	{% endblock %}

<!--	<link rel="icon" type="image/x-icon" href="/favicon.ico">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/classic.css') }}">
	<link rel="preconnect" href="//fonts.gstatic.com/" crossorigin="">
	<style>
		body {
			opacity: 0;
		}
	</style>
</head>

<body>
	<div class="wrapper">

		{% include 'base/navbar_vertical.html' %}

		<div class="main">

			{% include 'base/navbar_horizontal.html' %}

			<main class="content">
				<div class="container-fluid p-0">

				{% block content %}

    			{% endblock %}

				</div>
			</main>

			{% include 'base/footer.html' %}

		</div>
	</div>

	<script src="{{ url_for('static', path='/js/app.js') }}" ></script>
	<script src="{{ url_for('static', path='/js/datetime.js') }}" ></script>

</body>

</html>